body, html {
    height: 100%;
    margin: 0;
    font-family: "Times New Roman", sans-serif;
    position: relative;
}
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    padding-bottom: 120px; 
}

.button {
    display: inline-block;
    padding: 10px 90px;
    background-color: #5dcbd1;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, monospace; 
    font-size: large;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", sans-serif;
    overflow-x: hidden;
}

body .background-gif {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header {
    position: relative;
    text-align: center;
    overflow: hidden;
}
header h1 {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-size: 3rem;
    margin: 0;
}

header small {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-size: 1.2rem;
}

#fade-container {
    opacity: 0;
}

nav ul {
    list-style-type: none;
    background-color: rgba(88, 131, 181, 0.9);
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav li {
    display: inline-block;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    font-size: 16px;
}

nav a:hover {
    background-color: rgba(88, 131, 181, 1);
}

.container {
    text-align: center;
    padding: 20px;
}

.container img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}


main {
    padding: 20px;
    margin: 20px;
    background-color: rgba(88, 131, 181, 0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(192, 211, 231, 0.9);
    color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* الأقسام تحت بعض */
.stack-sections section {
    width: 100%;
    min-width: 300px;
}

/* الأقسام جنب بعض */
.flex-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-sections section {
    width: 40%;
    min-width: 200px;
    margin-right: 5px;
}

.flex-sections section:last-child {
    margin-right: 0;
}

section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

section video {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5871b5;
    color: #ffffff;
    text-decoration:none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #425c9c;
}

h2,
p {
    margin-top: 0;
    color: #333333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: left;
    color: #333333;
}

section video.paid {
    display: none;
}

footer {
    background-color: rgba(88, 131, 181, 0.9);
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 0;
    color: #ffffff;

}

.wrapper {
    width: 440px;
    background: transparent;
    border: 5px solid floralwhite;
    backdrop-filter: blur(10px);
    color: rgb(20, 51, 98);
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/* boxes border */
.input-box input {
    width: 98%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(111, 110, 110);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;

}

/* placeholder */
.input-box input::placeholder {
    color: #ffffff;
}

/* icons */
.input-box i {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translate(-40%);
    font-size: 20px;
}

/* remember me */
.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;

}

/* forgot password */
.remember-forgot a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color:rgba(88, 131, 181, 0.9);;
}

/* login button */
.wrapper .btn {
    margin-left: 50%;
    width: 50%;
    height: 45px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgb(0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin: 0 auto;

    border-radius: 30px;
    border-color: #ffffff;
}

/* sign up link */
.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    color:rgba(88, 131, 181, 0.9);;
    text-decoration: underline;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: rgb(20, 51, 98);

}
.profile-pic {
    text-align: center;
    margin-bottom: 10px; /* Adjust margin as needed */
    margin-top: -10px; /* Add margin to move it down */
}

.profile-img {
    width: 100px; /* Adjust width as needed */
    height: 90px; /* Adjust height as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensure the image covers the entire circle */
}